* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-colour {
  color: #661b8a;
}

.side-img {
  height: 100vh;
  width: 100%;
}

.login-container {
  height: 100vh;
  border-left: 1px dotted;
}

.form-container {
  height: 70vh;
  margin-top: 25vh;
  margin-left: 10vh;
}

.logo {
  height: 10vh;
}

.ttile {
  color: #993d99;
  font-size: 35px;
  /* font-style: normal; */
  font-weight: bolder;
  line-height: normal;
}

.inputbox {
  width: 349px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  outline: none;
  border: dotted 0.1px;
  /* background-color: #d9d9d9; */
  padding: 10px;
}

.data-container {
  display: flex;
  justify-content: center;
  margin-right: 17%;
}

.login-btn {
  background-color: white;
  border: dotted 0.1px;
  color: #661b8a;
  width: 200px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .data-container {
    display: flex;
    /* margin-left: 17%; */
    /* justify-content: center; */
  }
  .title-container-logo {
    display: flex;
    justify-content: center !important;
  }
  .title-container {
    display: flex;
    justify-content: center;
  }
  .hide {
    display: none;
  }
  .form-container {
    height: 80vh;
    width: 40vh;
    /* margin-top: 25vh; */
    margin-left: 5vh;
  }
}

@media (max-width: 454px) {
  .title-container {
    display: flex;
    justify-content: center;
  }
  .title-container h1 {
    font-size: x-large;
  }
  .title-container-logo {
    display: flex;
    justify-content: center !important;
  }
  .title-container-logo .logo {
    height: 12vh;
  }

  .login-container {
    height: 100vh;
    border: none;
  }

  .form-container {
    height: 70vh;
    /* margin-top: 25vh; */
    /* margin-left: 10vh; */
  }
}
